project:
  type: website
  output-dir: docs

website:
  title: "ArcGIS StoryMaps tutorial"
  google-analytics: "G-RC52W8J799"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    number-sections: true
    css: styles.css
    toc: true
    toc-title: Contents
  pdf: default


